# Add any directories, files, or patterns you don't want to be tracked by version control
.ipynb_checkpoints
__pycache__
*.swp
*.pyc
old/
pyvenv.cfg

bin/
include/
lib/
etc/
pip-*
share/
backup/

# misc
kent_distribution
contributed

# output figures
*.pdf
*.png

# temporary files
.tmp/
